[submodule "public/javascripts/vendor/multi-charting"]
	path = public/javascripts/vendor/multi-charting
	url = https://github.com/fusioncharts/multi-charting.git
[submodule "public/javascripts/vendor/data-filters"]
	path = public/javascripts/vendor/data-filters
	url = https://github.com/fusioncharts/data-filters.git
[submodule "public/javascripts/vendor/fusioncharts-axis"]
	path = public/javascripts/vendor/fusioncharts-axis
	url = https://github.com/fusioncharts/fusioncharts-axis.git
[submodule "public/javascripts/vendor/fusioncharts-caption"]
	path = public/javascripts/vendor/fusioncharts-caption
	url = https://github.com/fusioncharts/fusioncharts-caption.git
