<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <title>Visual Crosstab</title>
        <link rel="stylesheet" href="/stylesheets/style.css" media="screen" title="no title" charset="utf-8">
        <style media="screen">
            #crosstab-div div {
                border: 1px solid #E6E6E6;
            }
        </style>
    </head>
    <body>
        <div id="crosstab-div"></div>

        <script src="/javascripts/vendor/fusioncharts.js" charset="utf-8"></script>
        <script src="/javascripts/vendor/fusioncharts.charts.js" charset="utf-8"></script>
        <script src="/javascripts/vendor/fusioncharts.multicharting.js" charset="utf-8"></script>
        <script src="/javascripts/crosstab-ext.js" charset="utf-8"></script>
        <!-- <script src="/javascripts/test.js" charset="utf-8"></script> -->
        <!-- <script src="/javascripts/temp.js" charset="utf-8"></script> -->
    </body>
</html>
