.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

#crosstab-div {
    color: #5B6060;
    font-size: 12px;
    font-family: 'Arial', sans-serif;
    font-weight: bold;
}

#crosstab-div .corner-cell {
    background-color: #F2F6F6;
    border: 1px solid #D5D5D5;
    border-right: none;
}

#crosstab-div .corner-cell.state {
    background-color: #F2F6F6;
    border: 1px solid #D5D5D5;
}

#crosstab-div .corner-cell.quality {
    background-color: #F2F6F6;
    border: 1px solid #D5D5D5;
    border-left: none;
    border-right: 1px solid #B1B6B6;
}

#crosstab-div .measure-drag-handle {
    background-color: #CAD0D0;
}

#crosstab-div .measure-drag-handle > span {
    border-right: 1px solid #828484;
}

#crosstab-div .dimension-drag-handle {
    background-color: #DDE1E1;
}

#crosstab-div .dimension-drag-handle > span {
    border-right: 1px solid #ABB0B0;
}

#crosstab-div .axis-header-cell {
    background-color: #DBE0E0;
    border: 1px solid #B1B6B6;
    border-left: 1px solid #B1B6B6;
}

#crosstab-div .column-measures {
    background-color: #DBE0E0;
    border: 1px solid #B1B6B6;
    border-left: none;
}

#crosstab-div .axis-footer-cell,
#crosstab-div .blank-cell,
#crosstab-div .caption-chart {
    border: none;
}

#crosstab-div .x-axis-chart {
    border: none;
}

#crosstab-div .y-axis-chart {
    border-right: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
}

#crosstab-div .row-dimensions.product {
    background-color: #E4EAEA;
    border: 1px solid #C3C6C6;
    border-top: none;
    border-right: none;
}

#crosstab-div .row-dimensions.state {
    background-color: #EEF4F4;
    border: 1px solid #DBE0E0;
    border-top: none;
}

#crosstab-div .row-dimensions.quality, #crosstab-div .row-dimensions.year {
    background-color: #EEF4F4;
    border: 1px solid #DBE0E0;
    border-top: none;
}

#crosstab-div .chart-cell {
    border-right: 1px solid #F6F6F6;
    border-bottom: 1px solid #F6F6F6;
}
