.no-select {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.draggable {
    cursor: -webkit-grab;
    cursor: -moz-grab;
    cursor: grab;
}

.dragging {
    cursor: -webkit-grabbing;
    cursor: -moz-grabbing;
    cursor: grabbing;
}

#crosstab-div {
    color: #5B6060;
    font-size: 12px;
    font-family: 'Lucida Grande', sans-serif;
}

#crosstab-div .row-dimensions {
    border: 1px solid #B8B8B8;
    border-left: none;
    border-bottom: none;
}

#crosstab-div .blank-cell,
#crosstab-div .axis-footer-cell,
#crosstab-div .horizontal-axis {
    border-top: 1px solid #B8B8B8;
}

#crosstab-div .dimension-drag-handle, .measure-drag-handle {
    background: #D5D5D5;
    overflow: hidden;
}

#crosstab-div .dimension-drag-handle > span, .measure-drag-handle > span {
    border-right: 1px solid #868686;
}

#crosstab-div .dimension-header {
    background: #F6F6F6;
    font-weight: bold;
    border-right: 1px solid #FFFFFF;
}

#crosstab-div .axis-header-cell {
    background: #F6F6F6;
    border-right: 1px solid #FFFFFF;
    border-top: 9px solid #D5D5D5;
}

#crosstab-div .sort-btn {
    padding: 1px;
    background-color: #DDDDDD;
    border: 1px solid #BABABA;
    cursor: pointer;
    border-radius: 3px;
    height: 9px;
    width: 9px;
    top: 1px;
}

#crosstab-div .sort-btn > .sort-steps {
    border-color: #999B9C;
}

#crosstab-div .sort-steps{
    border-bottom: 1px solid #59595C;
}

#crosstab-div .sort-btn:hover {
    background-color: #ACACAC;
}

#crosstab-div .sort-btn.active {
    background-color: #E5E5E5;
    border-color: #D6D6D6;
}

#crosstab-div .sort-btn.active > .sort-steps{
    border-color: #C7C8C8;
}

#crosstab-div .sort-btn.ascending-sort {
    left: 5px;
}

#crosstab-div .sort-btn.descending-sort {
    right: 5px;
}

#crosstab-div .column-measures {
    background: #EEEDEE;
    border-right: 1px solid #FFFFFF;
    border-left: none;
    font-weight: bold;
}

#crosstab-div .vertical-axis {
    border: 1px solid #B8B8B8;
    border-left: none;
}

#crosstab-div .chart-cell, #crosstab-div .chart-cell.last-col {
    border: 1px solid #B8B8B8;
    border-left: none;
}

#crosstab-div .chart-cell.last-col {
    border-right: 1px solid #FFFFFF;
}
